$body-background-color: $grey-dk-300;
$body-heading-color: $grey-lt-000;
$body-text-color: $grey-lt-300;
$link-color: $red-000;
$nav-child-link-color: $grey-dk-000;
$sidebar-color: #222125;
$base-button-color: $grey-dk-250;
$btn-primary-color: $red-200;
$code-background-color: #3f3131; // OneDarkJekyll default for syntax-one-dark-vivid
$code-linenumber-color: #f7dede; // OneDarkJekyll .nf for syntax-one-dark-vivid
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: #222125;
$search-background-color: $grey-dk-250;
$search-result-preview-color: $grey-dk-000;
$border-color: #18171a;

$content-width: 61rem; // Set Page Width

@import "./vendor/OneDarkJekyll/syntax"; // this is the one-dark-vivid atom syntax theme
