{% assign modalid = include.path | split: "/" | last %}
{% if include.path contains "https://" %}
{% assign imagepath = include.path %}
{% else %}
{% assign imagepath = site.baseurl | append: "/assets/images/" | append: include.path %}
{% endif %}


<!-- Image on the page -->
<div id="img-{{ modalid }}" class="imageembedbox">
    <figure style="display: inline-block;" onclick="document.getElementById('Modal-{{ modalid }}').style.display = 'block';">
        <img class="imageembed" src="{{ imagepath }}" width="{{ include.width }}">
        <figcaption>{{ include.caption }}</figcaption>
    </figure>
</div>

<!-- The Modal Popup (Hidden by default)-->
<div id="Modal-{{ modalid }}" class="modal" style="display: none;" onclick="document.getElementById('Modal-{{ modalid }}').style.display = 'none';">
    <!-- Modal content -->
    <div class="modal-content">
        <img class="modal-image" src="{{ imagepath }}">
    </div>
</div>
