details {
    margin-top: 1.5em;
    border: 0px solid #aaa;
    border-radius: 4px;
    background-color: #302d36;
    padding: 0.5em 0.7em 0em 0.7em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

summary {
    font-weight: 500;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    color: #f77e7e;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

details[open] {
    padding: 0.5em 0.7em 0.5em 0.7em;
}

details[open] summary {
    margin-bottom: 0.5em;
}