/* Guide Page Title Styles */

.guide_subtitle {
    text-transform: uppercase;
    font-weight: 500;
    color: #959396;
}

.guide_titleimg {
    display: inline;
    height: 1em;
    vertical-align: bottom;
    margin-right: 7px;
    margin-bottom: 3px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.guide_title {
    font-weight: 400;
}

.label-mur {
    width: fit-content;
    padding: 1px 6px 1px 6px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    background: rgb(143, 49, 207);
    background: linear-gradient(45deg, rgba(143, 49, 207, 1) 0%, rgba(228, 29, 253, 1) 50%, rgba(252, 69, 214, 1) 100%);
    color: white;
    font-weight: 500;
    font-size: small;
}

.label-pf {
    width: fit-content;
    padding: 1px 6px 1px 6px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    background: rgb(207, 49, 49);
    background: linear-gradient(45deg, rgba(207, 49, 49, 1) 0%, rgba(253, 96, 29, 1) 50%, rgba(252, 188, 69, 1) 100%);
    color: white;
    font-weight: 500;
    font-size: small;
}

/* Site nav and scrollbar customizations */

.site-nav,
.search-results,
.highlight {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

html,
.site-nav:hover,
.search-results:hover,
.highlight:hover {
    scrollbar-color: #959396 transparent;
}

/* Buff and Pot Timing Windows */

#timingwindow {
    display: flex; 
    flex-direction: row; 
    gap: 10px;
    flex-wrap: wrap;
    align-items: start;
    margin-top: 1.5em;
}

#potwindowwrap {
    border: 0px solid #aaa;
    border-radius: 6px;
    max-width: 463px;
    background: linear-gradient(135deg, #fffdfd, #f77d7d);
    padding: 0.13em;
    flex-grow: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

#burstwindowwrap {
    border: 0px solid #aaa;
    border-radius: 6px;
    max-width: 463px;
    background: linear-gradient(135deg, #fffdfd, #7dcaf7);
    padding: 0.13em;
    flex-grow: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

#window {
    border: 0px solid #aaa;
    border-radius: 4px;
    background-color: #302d36;
    padding: 0.5em 0.5em 0.5em 0.7em;
}

#windowheader {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}

#windowtitle {
    display: inline-block;
    font-size: 1.3em;
    margin-top: 0em;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Inline Buff Icons */

.statusicon {
    height: 1.5em;
    width: auto;
    vertical-align: text-top;
}

/* Custom Embeds */

.imageembedbox {
    cursor: pointer;
    margin-bottom: 1em;
}

.imageembed {
    border-radius: 6px; 
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    outline: 2px solid rgba(255, 255, 255, 0);
    outline-offset: -2px;
    transition: 0.1s;
}

.imageembed:hover {
    outline: 2px solid white;
    transition: 0.1s;
}

figcaption {
    text-align: center;
    font-size: small;
    color: #959396;
}

/* homepage sections for bottom of homepage */

.homepagesections {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-items: stretch;
}

.section {
    width: calc(50% - 0.5em);
    background-color: #222125;
    border-radius: 6px;
    padding: 1em;
    text-align: justify;
}

@media only screen and (max-width: 1000px) {
    .section {
        width: 100%;
        background-color: #222125;
        border-radius: 4px;
        padding: 1em;
        text-align: justify;
    }
}

.section h2 {
    margin-top: 0em;
}


/* Image Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    width: 100%; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 10px;
    cursor: pointer;
    }
    
/* Modal Content */
.modal-content {
    height: 100vh;
    padding: 4rem;
}

.modal-image {
    margin: auto;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    object-fit: contain;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

@media only screen and (max-width: 1000px) {
    .modal-content {
        height: 100vh;
        padding: 0.5rem;
    }
}