.guide_subtitle {
    text-transform: uppercase;
    font-weight: 500; 
    color: #959396;
}

.guide_titleimg {
    display:inline;
    height: 1em;
    vertical-align: bottom;
    margin-right: 7px;
    margin-bottom: 3px;
}

.guide_title {
    font-weight: 400;
}

.label-mur {
    width: fit-content;
    padding: 1px 6px 1px 6px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    background: rgb(143,49,207);
    background: linear-gradient(45deg, rgba(143,49,207,1) 0%, rgba(228,29,253,1) 50%, rgba(252,69,214,1) 100%);
    color: white;
    font-weight: 500;
    font-size: small;
}

.label-pf {
    width: fit-content;
    padding: 1px 6px 1px 6px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    background: rgb(207,49,49);
    background: linear-gradient(45deg, rgba(207,49,49,1) 0%, rgba(253,96,29,1) 50%, rgba(252,188,69,1) 100%);
    color: white;
    font-weight: 500;
    font-size: small;
}