.navcolumn {
    padding: 0em 0.5em 0em 0.5em;
    display: flex; 
    flex-grow: 1;
    flex-direction: column
}

.navlink {
    height: 60px;
    border: 0px solid #aaa;
    border-radius: 4px;
    background-color: #302d36;
    padding: 0.5em 0.5em 0.5em 0.7em;
    font-size: 1.3em;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.4em;
    color: #f77e7e;
    transition: 0.3s;
    background-size: contain;
    background-repeat: no-repeat;
}

.navlink:hover {
    color: #ffffff;
}